[user]
	email = ssriram2004@gmail.com
	name = Sriram Sundharesan
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
